Package: libcurl4-gnutls-dev
Source: curl
Version: 7.21.0-1enki1
Architecture: i386
Maintainer: Ubuntu Core Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 2500
Depends: libcurl3-gnutls (= 7.21.0-1enki1), libc6-dev | libc-dev, libgnutls-dev, zlib1g-dev, libidn11-dev, libkrb5-dev | hurd, libldap2-dev
Suggests: libcurl3-dbg
Conflicts: libcurl-dev
Replaces: libcurl-dev, libcurl-ssl-dev, libcurl3-gnutls-dev, libcurl4-dev
Provides: libcurl-dev, libcurl-ssl-dev, libcurl3-gnutls-dev, libcurl4-dev
Section: libdevel
Priority: optional
Homepage: http://curl.haxx.se
Description: Development files and documentation for libcurl (GnuTLS)
 These files (ie. includes, static library, manual pages) allow to
 build software which uses libcurl.
 .
 SSL support is provided by GnuTLS.
 .
 HTML and PDF versions of all the manual pages are also provided.
Original-Maintainer: Domenico Andreoli <cavok@debian.org>
